<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="AutoStart" value='False' />
    <add key="Setting" value='{"Keymaps":[{"From":"a","To":"b","Probability":50},{"From":";","To":".,","Probability":80}]}' />
    <add key="ChangeBackground" value='True' />
    <add key="ChangeBackgroundEveryXMinutes" value='0.1' />
    <add key="ChangeBackgroundTopics" value='Arsenal FC,Rabbi,Cat' />
	
  </appSettings>
</configuration>